#boddy{
    background-color: lightblue;

}
#cameraa{
    background-color: antiquewhite;
    width: 300px;
    height: 300px;
    border-width: 20px;
    border-color: rgb(0, 0, 0);
}
#tufoto{
    background-color: antiquewhite;
    width: 300px;
    height: 300px;
    border-width: 20px;
    border-color: rgb(0, 0, 0);
}